__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.manifest
*.spec

.venv/
venv/
env/

*.env
!*.env.example
.env.*        

.vscode/
.idea/
*.swp
*.swo

**/*-build/
docker-compose.override.yml

# Outros
.DS_Store
Thumbs.db
